body {
  margin: 0px;
  background-color: lightgreen;
}


.header {
  height: 35px;
  line-height: 35px;
  padding-left: 20px;
  text-align: center;
}


.container {
  display: flex;
  justify-content: space-between;
}

.cdiyt-ticker:checked ~ .btn-menu > .tanuku .second {
  opacity: 0;
}

.cdiyt-ticker:checked ~ .btn-menu > .tanuku .third {
  -webkit-transform: rotate(90deg);
  top: -10px;
}

.locations {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:white;
}

.location-item {
  cursor: pointer;
  background-color: lightgreen;
  border-radius: 10em;
  list-style-type: none;
  font-size: 3.0vh;
  padding: 2px;
  text-align: center;
  margin: 2vh 0;
}
.location-item:hover {
  color: black;
  background-color: orange;
}
.info-window > h4 {
  margin: 0;
  display: block;
}

.map {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.filter {
  margin-top: 45px;
  height: 50px;
  border: 0;
  width: 100%;
  padding: 5%;
  text-align: center;
  font-size: 2.0vh;
  box-sizing: border-box;
  outline: none;
}


.cdiyt-ticker {
  display: none;
}

.btn-menu {
  display: flex;
  line-height: 25px;
  color: #fff;
  background-color: #022c418e;
  padding: 5px;
  position: fixed;
  top: 60px;
  left: 5px;
  cursor: pointer;
  z-index: 3;
  width: 15%;
  border-radius: 5px;
}

.menu-text {
  width: 100%;
  text-align: center;
}

.tanuku {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transition: left .10s;
  width: 30px;
}

.tanuku span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s cubic-bezier(1, 0, 0, 1) .02s;
  position: relative;
}

.tanuku span.first {
  margin-top: 0;
}

.cdiyt-ticker:checked ~ .btn-menu {
  border-radius: 50%;
  width: 25px;
}

.cdiyt-ticker:checked ~ .btn-menu > .menu-text {
  display: none;
}

.cdiyt-ticker:checked ~ .cdiyt {
  left: 0;
}

.cdiyt {
  display: block;
  position: fixed;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  background-color: #eee;
  height: 100%;
  top: 0;
  left: -200px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.cdiyt-ticker:checked ~ .btn-menu > .tanuku .first {
  -webkit-transform: rotate(90deg);
  top: 10px;
}



.cdiyt-ticker:checked > .container {
  display: flex;
}

.gm-style-mtc {
  display: none;
}
